@value themeColor: #ff8a00;
@value themeAccent: #da1b60;
@value primaryLight: #EFFFFA;
@value primaryHover: #343078;
@value secondaryDark: #010111;
@value textNormal: rgb(217, 217, 217);
@value black: #000;

body {
  --bg: white;
  --textNormal: #222;
  --textTitle: #222;
  --textLink: blue;
  --hr: hsla(0, 0%, 0%, 0.2);

  background-color: var(--bg);
  display: flex;
  justify-content: center;
  height: 100vh;
}

:global body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: black;
  --textNormal: textNormal;
  --textTitle: textNormal;
  --textLink: yellow;
  --hr: hsla(0, 0%, 100%, 0.2);

  color: textNormal;
}

a {
  text-shadow: none;
  background-image: none;
  color: white;
}


/*
  RTL layout
*/
body:lang(ar) article {
  direction: rtl;
}

:global body:lang(ar) article pre,
:global body:lang(ar) article .translations,
:global body:lang(ar) .language-text {
  direction: ltr;
}

/* Fixing parentheses issue in text */
:global body:lang(ar) .language-text {
  display: inline-block;
}

body:lang(ar) blockquote {
  border-left: unset;
  border-right: 0.32813rem solid hsla(0, 0%, 0%, 0.9);
  padding-right: 1.42188rem;
  padding-left: unset;
  margin-left: 0.75rem;
  margin-right: -1.75rem;
}

body:lang(ar) article,
body:lang(ar) header > h1 {
  font-family: 'Cairo', sans-serif;
}
